﻿<div class="jumbotron">
    <h1>Brainjocks - Is It Sitecore?</h1>
    <p class="lead">Check if a website is using Sitecore.</p>
</div>
<div id="application-layout" class="row">
    <div class="col-md-6" data-bind="with: checkViewModel">
        <h4>Single URL Check</h4>
        <form class="form-inline" role="form" spellcheck="false">
            <div class="form-group" data-bind="class: overall">
                <label class="control-label" for="inpData">Enter website</label>

                <input type="text" class="form-control" id="inpData"
                       data-bind="textInput: Data.Content, validationOptions: {errorElementClass: 'err' }, 
                       valueUpdate: 'afterkeydown', enterkey: checkOne">
                <p><span class="err" data-bind="validationMessage: Data.Content"></span></p>
                <span class="glyphicon form-control-feedback" data-bind="class: icon"></span>
            </div>
            <div class="form-group" style="display: block">
                <input type="button" class="btn btn-default" id="btnCheckSingle" value="Check!" data-bind="click: checkOne, 
                       enable: readyToBeChecked"/>
                <input type="button" class="btn btn-default" id="btnReset" value="Reset" data-bind="click: reset"/>
            </div>
        </form>
        <div style="padding-top: 25px;">
            <h4>Custom links</h4>
            <p>
                <a href="https://www.google.com/search?sourceid=chrome-psyapi2&ion=1&ie=UTF-8&q=allinurl%3A%20sitecore%2Fservice%2Fnotfound.aspx&oq=allinurl%3A%20sitecore%2Fservice%2Fnotfound.aspx&aqs=chrome..69i57j69i58.5577j0j9&bav=on.2,or.r_cp.&biw=1440&bih=745&dpr=2&ech=1&psi=0tK4VoOYCMjRmAHF_aiYCw.1454953170856.3&ei=0tK4VoOYCMjRmAHF_aiYCw&emsg=NCSR&noj=1" target="_blank">Sites with broken links that points to Sitecore system page</a> <br/>
                <a href="https://www.google.com/search?biw=1920&bih=1031&noj=1&q=allinurl%3A+sitecore%2Fservice%2Fnoaccess.aspx&oq=allinurl%3A+sitecore%2Fservice%2Fnoaccess.aspx&gs_l=serp.3...655657.656733.0.657013.6.6.0.0.0.0.58.233.5.5.0....0...1c.1.64.serp..1.0.0.kC7DvOqatiM" target="_blank">Sites with restricted access that points to Sitecore system page</a> <br />
            </p>
        </div>
    </div>
    <div class="col-md-6" data-bind="with: multipleCheckViewModel">
        <h4>Multiple URL's Check</h4>
        <form class="form-horizontal" role="form" spellcheck="false">
            <div class="form-group">
                <textarea class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                          rows="15" cols="20" data-bind="textInput: Data.Content, validationOptions: {errorElementClass: 'err' }"></textarea>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-default" id="btnCheckMultiple" value="Check!" data-bind="click: checkMultiple, 
                       enable: readyToBeChecked"/>
                <input type="button" class="btn btn-default" id="btnMultipleReset" value="Reset" data-bind="click: reset"/>
            </div>
        </form>

        <h4>Multiple URL's Sitecore Results:</h4>
        <div class="sitecore-list">
            <ul data-bind="foreach: results">
                <li><a data-bind="text: $data, attr: { href: $data, title: $data }"></a></li>
            </ul>
            <div class="no-results" data-bind="visible: shouldShowNoResults">No results</div>
        </div>
        
    </div>
</div>