﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_Header")

    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - IsItSitecore Application</p>
        </footer>
        <div id='dim_wrapper' style='width:100%; height:100%; background:#000; z-index: -10; position: fixed; top: 0; left: 0; opacity: 0.0'>&nbsp;</div>
    </div>

    <!-- data-main attribute tells require.js to load Scripts/main.js after require.js loads. -->
    <script type="text/javascript" data-main="/Scripts/main.js" src="/Scripts/require.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>